* {
				margin:0px;
				padding:0px;
			}
			
			#header {
				margin:auto;
				width:100%;
				font-family:Arial, Helvetica, sans-serif;
				height: 45px;
				background-color: #E8ECED;
			}
			
			ul, ol {
				list-style:none;
			}
			
			.nav > li {
				float:left;
			}
			
			.nav li a {
				font-family: Open Sans Condensed;
   			    font-size: 18px;
    			font-weight: bold;
    			line-height: 25px;
   				padding: 0 20px;
				background-color:#e8eced;
				color:#000;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#07A351;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			.nav li ul {
				z-index:1;
				display:none;
				position:absolute;
				min-width:155px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-154px;
				top:0px;